<%= form_for @pueblo, :html => {:multipart => true} do |f| %>
  <% if @pueblo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pueblo.errors.count, "error") %> prohibited this pueblo from being saved:</h2>

      <ul>
      <% @pueblo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ciudad %><br />
    <%= f.text_field :ciudad %>
  </div>
  <div class="field">
    <%= f.label :estado %><br />
    <%= f.text_field :estado %>
  </div>
  <div class="field">
    <%= f.label :image %><br />
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br />
    <%= f.text_area :descripcion %>
  </div>
  <div class="field">
    <%= f.label :mesFiesta %><br />
    <%= f.text_field :mesFiesta %>
  </div>
  <div class="field">
    <%= f.label :lugaresInt %><br />
    <%= f.text_area :lugaresInt %>
  </div>
  <div class="field">
    <%= f.label :descFiesta %><br />
    <%= f.text_area :descFiesta %>
  </div>
  <div class="field">
    <%= f.label :gastronomia %><br />
    <%= f.text_area :gastronomia %>
  </div>
  <div class="field">
    <%= f.label :video %><br />
    <%= f.text_area :video %>
  </div>
  <div class="field">
    <%= f.file_field :song %>
    <%= f.hidden_field :song_cache %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
