<h1>Listing pueblos</h1>

<table>
  <tr>
    <th>Ciudad</th>
    <th>Estado</th>
    <th>Image</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Descripcion</th>
    <th>Mesfiesta</th>
    <th>Lugaresint</th>
    <th>Descfiesta</th>
    <th>Gastronomia</th>
    <th>Song</th>
    <th>Video</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ciudads.each do |pueblo| %>
  <tr>
    <td><%= pueblo.ciudad %></td>
    <td><%= pueblo.estado %></td>
    <td><%= pueblo.image %></td>
    <td><%= pueblo.latitude %></td>
    <td><%= pueblo.longitude %></td>
    <td><%= pueblo.descripcion %></td>
    <td><%= pueblo.mesFiesta %></td>
    <td><%= pueblo.lugaresInt %></td>
    <td><%= pueblo.descFiesta %></td>
    <td><%= pueblo.gastronomia %></td>
    <td><%= pueblo.song.url %></td>
    <td><%= pueblo.video %></td>
    <td><%= link_to 'Show', pueblo %></td>
    <td><%= link_to 'Edit', edit_pueblo_path(pueblo) %></td>
    <td><%= link_to 'Destroy', pueblo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pueblo', new_pueblo_path %>
