<p id="notice"><%= notice %></p>

<p>
  <b>Ciudad:</b>
  <%= @pueblo.ciudad %>
</p>

<p>
  <b>Estado:</b>
  <%= @pueblo.estado %>
</p>

<p>
  <b>Image:</b>
  <%= @pueblo.image %>
</p>

<p>
  <b>Latitude:</b>
  <%= @pueblo.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @pueblo.longitude %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @pueblo.descripcion %>
</p>

<p>
  <b>Mesfiesta:</b>
  <%= @pueblo.mesFiesta %>
</p>

<p>
  <b>Lugaresint:</b>
  <%= @pueblo.lugaresInt %>
</p>

<p>
  <b>Descfiesta:</b>
  <%= @pueblo.descFiesta %>
</p>

<p>
  <b>Gastronomia:</b>
  <%= @pueblo.gastronomia %>
</p>
<p>
  <b>Video:</b>
  <%= @pueblo.video %>
</p>
<p>
  <b>Song:</b>
  <%= @pueblo.song.url %>

</p>
<%= link_to 'Edit', edit_pueblo_path(@pueblo) %> |
<%= link_to 'Back', pueblos_path %>
